#cloud-config
autoinstall:
    version: 1
    locale: en_US
    identity:
        hostname: $VM_NAME
        username: u
        password: "$USER_PASSWORD"
    ssh:
        install-server: yes
        authorized-keys:
          - "$SSH_PUB"
        allow-pw: yes
    # Install QEMU Guest Agent package
    packages:
        - qemu-guest-agent
    # Ensure agent service is enabled & started
    late-commands:
        - curtin in-target --target=/target -- systemctl enable qemu-guest-agent
        - curtin in-target --target=/target -- systemctl start qemu-guest-agent
        - curtin in-target --target=/target -- bash -c "echo 'u ALL=(ALL) NOPASSWD:ALL' >> /etc/sudoers.d/u-nopasswd && chmod 0440 /etc/sudoers.d/u-nopasswd"
    user-data:
        disable_root: false
